
body {
    background-color: grey;
}

body p {
    font-size: 18px;
}

/* header */

header {
    background-color: skyblue;
    text-align: center;
}

nav {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 5%;
}

nav a:hover {
    background-color: tomato;
    font-size: 20px;
    border-radius: 20%;
}

a {
    text-decoration: none;
    color: skyblue;
}

/* table */

table {
    width: 100%;
    height: 120px;
}

table > tr, th, td {
    border: 1px solid black;
}

/* button */
button {
    background: skyblue;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    font-size: 20px;
}


/* details */

.shades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
}

.shades img {
    border-radius: 40%;
}

.shades p {
    text-align: center;
    font-style: italic;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* footer */

.footer {
    font-size: 18px;
    background-color: skyblue;
}

.footer #footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer #footer p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.footer .copyright {
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}

hr {
    border: 1px solid black;
}


